@model TabloidMVC.Models.ViewModels.TagPostViewModel
@{
    ViewData["Title"] = "TagPost";
}

<h1>Select a new Tag for "@Model.Post.Title"</h1>



<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="TagPost">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="PostTag.PostId" class="form-control"value="@Model.Post.Id" type="hidden" />
            </div>
           

            <label  class="control-label">Select a Tag</label>
            <select asp-for="PostTag.TagId" class="form-control">
                <option value="">Select Tag</option>
                @foreach (Tag tag in Model.Tags)
                {
                    <option value="@tag.Id">@tag.Name</option>
                }
            </select>



            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Index</a>
</div>

